@font-face {
    font-family: "Lato Hit";
    src: url("font/Lato-Hai.ttf");
}

@font-face {
    font-family: "Lato Hit";
    font-style: italic;
    src: url("font/Lato-HaiIta.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-1 {width: 8.333%}
.col-2 {width: 16.666%}
.col-3 {width: 25%}
.col-4 {width: 33.333%}
.col-5 {width: 41.666%}
.col-6 {width: 50%}
.col-7 {width: 58.333%}
.col-8 {width: 66.666%}
.col-9 {width: 75%}
.col-10 {width: 83.333%}
.col-11 {width: 91.666%}
.col-12 {width: 100%}

@media screen and (min-width: 768px) {
    .col-md-1 {width: 8.333%}
    .col-md-2 {width: 16.666%}
    .col-md-3 {width: 25%}
    .col-md-4 {width: 33.3333333%}
    .col-md-5 {width: 41.666%}
    .col-md-6 {width: 50%}
    .col-md-7 {width: 58.333%}
    .col-md-8 {width: 66.666%}
    .col-md-9 {width: 75%}
    .col-md-10 {width: 83.333%}
    .col-md-11 {width: 91.666%}
    .col-md-12 {width: 100%}
}

@media screen and (min-width: 992px) {
    .col-lg-1 {width: 8.333%}
    .col-lg-2 {width: 16.666%}
    .col-lg-3 {width: 25%}
    .col-lg-4 {width: 33.333%}
    .col-lg-5 {width: 41.666%}
    .col-lg-6 {width: 50%}
    .col-lg-7 {width: 58.333%}
    .col-lg-8 {width: 66.666%}
    .col-lg-9 {width: 75%}
    .col-lg-10 {width: 83.333%}
    .col-lg-11 {width: 91.666%}
    .col-lg-12 {width: 100%}
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-body-secondary {
    background-color: #e9ecef;
}

.mx-auto {
    margin: 0 auto;
}

hr {
    background-color: #c92b41;
    height: 2px;
    border: none;
}

.masthead {
    background-image: url("img/main image.png");
    background-size: cover;
    min-height: 70vh;
    position: relative;
    color: white;
}

@media screen and (max-width: 768px) {
    .masthead {
        min-height: 35vh;
    }
}

div.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.top-menu > div {
    display: flex;
    justify-content: space-between;
}

div.top-menu > div > div {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
}

div.main-title {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
}

div.main-title > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
