/* Основні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #fdfdfd;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

article {
    background-color: #c61c1c;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

article p {
    font-size: 16px;
    margin-bottom: 10px;
}

article a {
    color: #00ff07;
    font-weight: bold;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

footer {
    background-color: #7a7a7a;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
