body {
    font-family: Arial, sans-serif;
    font-size: larger;
    background-color: #000000;
    padding: 70px;
}

header {
    background-color: hsl(244, 88%, 16%);
    color: #e8e8e8;
    padding: 12px;
    text-align: center;
}

article {
    background-color: #e8e8e8;
    padding: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 300px;
    text-align: center;
}

div {
    text-align: center;
}

p {
    color: hsl(244, 88%, 16%);
}
