* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
header {
    background-color: #685ed6;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-left h1 {
    margin-right: 1rem;
}
.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}
.header-center input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}
.header-right {
    display: flex;
    gap: 0.5rem;
}
.header-right button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #4c00ff;
    cursor: pointer;
}
.header-right button:hover {
    background-color:  #8251f5;
    color: white;
}
footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}
main {
    flex: 1;
    padding: 2rem;
}
