/* Основні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Навігація */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* Герой секція */
/* Герой секція */
.hero {
    background-image: url('https://media.istockphoto.com/id/1349390515/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%B8%D0%B4%D0%B5%D1%8F-%D0%B1%D0%B5%D0%B7%D0%B1%D1%83%D0%BC%D0%B0%D0%B6%D0%BD%D0%BE%D0%B3%D0%BE-%D1%80%D0%B0%D0%B1%D0%BE%D1%87%D0%B5%D0%B3%D0%BE-%D0%BC%D0%B5%D1%81%D1%82%D0%B0-%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F-%D0%BF%D0%BE%D0%B4%D0%BF%D0%B8%D1%81%D1%8C-%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F-%D0%BF%D0%BE%D0%B4%D0%BF%D0%B8%D1%81%D1%8C-%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%BE%D0%B1%D0%BE%D1%80%D0%BE%D1%82.jpg?s=612x612&w=0&k=20&c=63vzkYxUPmQa5T46_JXNHxpjdHPmZ_SWzOz-gNUwZ3E=');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

/* Легке розмиття фону */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    filter: blur(5px); /* Легке розмиття */
    z-index: -1; /* Забезпечує, щоб текст і кнопка були поверх фону */
}

/* Тексти і кнопка залишаються на передньому плані */
.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.hero .btn {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #ff6347;
}


.hero .btn {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #ff6347;
}

/* Секція "Про нас" */
#about {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
