* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d2d2d2;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    flex-grow: 1;

}

.sub-container > div {
    width: 30%;
    box-shadow: 3px 2px 18px -3px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #e0e0e0;
}

footer {
    flex-shrink: 1;
    height: 30px;
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
