
body {
    margin: 0;
    font-family: "Roboto Light", sans-serif;
}


header {
    background: cornflowerblue;
    margin: 0;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

h1 {
    padding: 10px;
    margin: 0;
}


.news {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.newsImage{
    width: 300px;
    margin: auto;
}

.newsElement{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid cornflowerblue;
    padding: 10px;
    border-radius: 10px;
}


footer{
    background: cornflowerblue;
    color: white;
    width: 100%;
}
