div.user {
    border:2px solid black;
    padding:10px;
}
div.user div {
    cursor: grab;
}
div.user.selected {
    background-color: #b66fff;
}

div.user:hover {
    background-color: #d3b8ff;
}
div.user input[type="radio"] {
    display: none;
}
