div.user {
    border:2px solid black;
    padding:10px;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    border-radius: 5px;
    &:hover
    {
        margin-left: 15px;
        border-color: darkblue;
    }
}
div.user div {
    cursor: pointer;
}
div.user.selected {
    background-color: greenyellow;
    margin-left: 15px;
}