p, h2 {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 5px 0;
}
header p {
    font-size: 2.0rem;
}

.news-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.news-content {
    display: flex;
    position: relative;
    width: 70%;
    margin: 20px 0;
}

.image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    outline: 1px solid black;
}
.news-text-container {
    width: 50%;
    outline: 1px solid black;
    padding: 15px;
}
.news-text-container p {
    font-size: 1.5rem;
    margin: 15px 0;
}
.news-text-container h2 {
    font-size: 2.0rem;
}

img {
    width: 100%;
    height: 100%;
}