* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #bd9f25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.book-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book {
    width: 600px;
    height: 400px;
    display: flex;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    position: relative;
    perspective: 1500px;
    border: 1px solid #464646;
    background-color: #1f160b;
    border-radius: 15px;
    box-shadow: 0 12px 40px rgba(197, 129, 129, 0.2);
}

.page {
    width: 50%;
    height: 100%;
    padding: 20px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border-radius: 15px;
}

.left-page {
    left: 0;
    border-right: 1px solid #9a7145;
    transform-origin: right;
    background-color: #b2aea0;
}

.right-page {
    right: 0;
    border-left: 1px solid #413121;
    transform-origin: left;
}

.controls {
    margin-top: 20px;
}

.control-button {
    padding: 10px 20px;
    background-color: #bd7450;
    border: none;
    color: #9f4646;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(79, 54, 54, 0.2);
    cursor: pointer;
    margin: 0 10px;
}

.control-button:hover {
    background-color: #643927;
}

.control-button:active {
    transform: scale(0.95);
}

.content {
    text-align: center;
    margin-top: 50px;
    color: #be1e1e;
    font-size: 18px;

}

.pagination {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #dc6a46;
}