.con{
    margin: 10px;
    text-align: center;

}
img{
   width: auto;
}
p{
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    border: 4px solid #942222;
}
b{
    border: 4px solid #942222;
    font-size: 20px;
}