body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    color: #333;
}

header{
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main{
    padding: 20px;
}

article{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}

article img{
    width: 300px;
    height: auto;
    border-radius: 5px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative;
}