.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.news-item {
    background: white;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}