body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff2b2b;
}
header {
    background-color: #3daa00;
    color: #680d0d;
    text-align: center;
    padding: 10px;
}
.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}
.news-item {
    width: 300px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.news-item img {
    width: 100%;
    border-radius: 5px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
footer p {
margin: 0;
}
img {
    height: 200px;
    width: 200px;
}