header{
    display: flex;
    justify-content: center;
    background-color: darkkhaki;

    h1{
        color: whitesmoke;
    }
}

.gallery{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


.gallery-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
img{
    height: 200px;
}

