body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 1000px;
    margin: auto;
    background-color: #eee;
}

h2 {
    text-align: center;
    color: #ff6347;
    font-size: 2.5em;
    margin-top: 20px;
}

p {
    margin: 15px 20px;
    font-size: 1.1em;
}

b {
    font-size: 1.2em;
    color: #333;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

hr {
    border: 0;
    border-top: 2px solid #eee;
    margin: 20px 0;
}

p:last-of-type {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: #d2691e;
}